[Unit]

Description=LoRaWAN messages receiver
Before=mqttclient.service
StartLimitIntervalSec=1
[Service]
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/lora_gateway
ExecStart=/bin/sh -c '/home/pi/lora_gateway/uplinker /dev/spidev0.2 10 3 1 14 | python /home/pi/lora_gateway/post_processing_gw.py'

[Install]
WantedBy=multi-user.target