[Unit]

Description=LoRa plain messages receiver
After=mqttclient.service
StartLimitIntervalSec=1
[Service]
Restart=always
RestartSec=1
ExecStart=/home/pi/lora_gateway/uplinker /dev/spidev0.0 4 1 1 14 | python /home/pi/lora_gateway/post_processing_gw.py

[Install]
WantedBy=multi-user.target